{% extends "masterPage.html" %}
{% load static %}
{% block title %} AccesKey | Laboratories {% endblock %}
{% block head %}
<link rel="stylesheet" href='{% static "plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}'>
<link rel="stylesheet" href='{% static "plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}'>
<link rel="stylesheet" href='{% static "plugins/datatables-buttons/css/buttons.bootstrap4.min.css" %}'>
{% endblock%}
{% block content %}
<!-- DataTables -->
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">See Laboratories</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href='{% url  "Home" %}'>Home</a></li>
                        <li class="breadcrumb-item">See Laboratories</li>

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <sectio class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    General content of the laboratories</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyData"></tbody>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Options</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </sectio>
</div>


{% endblock %}
{% block script %}
<!-- DataTables  & Plugins -->
<script src='{% static "plugins/datatables/jquery.dataTables.min.js" %}'></script>
<script src='{% static "plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}'></script>
<script src='{% static "plugins/datatables-responsive/js/dataTables.responsive.min.js" %}'></script>
<script src='{% static "plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}'></script>
<script src='{% static "plugins/datatables-buttons/js/dataTables.buttons.min.js" %}'></script>
<script src='{% static "plugins/datatables-buttons/js/buttons.bootstrap4.min.js" %}'></script>
<script src='{% static "plugins/jszip/jszip.min.js" %}'></script>
<script src='{% static "plugins/pdfmake/pdfmake.min.js" %}'></script>
<script src='{% static "plugins/pdfmake/vfs_fonts.js" %}'></script>
<script src='{% static "plugins/datatables-buttons/js/buttons.html5.min.js" %}'></script>
<script src='{% static "plugins/datatables-buttons/js/buttons.print.min.js" %}'></script>
<script src='{% static "plugins/datatables-buttons/js/buttons.colVis.min.js" %}'></script>
<script src='{% static "js/lab/lab.js" %}'></script>

<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
        loadIndex();
    });
</script>
{% endblock%}