{% extends "masterPage.html" %}
{% load static %}
{% block title %} AccesKey | Users {% endblock %}
{% block head %}
<link rel="stylesheet" href='{% static "plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}'>
<link rel="stylesheet" href='{% static "plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}'>
<link rel="stylesheet" href='{% static "plugins/datatables-buttons/css/buttons.bootstrap4.min.css" %}'>
{% endblock%}
{% block content %}
<!-- DataTables -->
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">See Users</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Templates/home/index.html">Home</a></li>
                        <li class="breadcrumb-item">See Users</li>

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <sectio class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Email</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cancino Chim Jose Fernando</td>
                            <td>Super</td>
                            <td>josefernandoco8@gmail.com</td>
                            <td><div class="input-group-prepend">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                  Action
                                </button>
                                <ul class="dropdown-menu">
                                  <li class="dropdown-item"><a href="#">Edit</a></li>
                                  <li class="dropdown-item"><a href="#">Delet </a></li>
                                </ul>
                              </div></td>
                        </tr>
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Email</th>
                            <th>Options</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </sectio>
</div>


{% endblock %}
{% block script %}
<!-- DataTables  & Plugins -->
<script src='{% static "plugins/datatables/jquery.dataTables.min.js" %}'></script>
<script src='{% static "plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}'></script>
<script src='{% static "plugins/datatables-responsive/js/dataTables.responsive.min.js" %}'></script>
<script src='{% static "plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}'></script>
<script src='{% static "plugins/datatables-buttons/js/dataTables.buttons.min.js" %}'></script>
<script src='{% static "plugins/datatables-buttons/js/buttons.bootstrap4.min.js" %}'></script>
<script src='{% static "plugins/jszip/jszip.min.js" %}'></script>
<script src='{% static "plugins/pdfmake/pdfmake.min.js" %}'></script>
<script src='{% static "plugins/pdfmake/vfs_fonts.js" %}'></script>
<script src='{% static "plugins/datatables-buttons/js/buttons.html5.min.js" %}'></script>
<script src='{% static "plugins/datatables-buttons/js/buttons.print.min.js" %}'></script>
<script src='{% static "plugins/datatables-buttons/js/buttons.colVis.min.js" %}'></script>

<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
{% endblock%}